<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script>

    </script>
  </head>
  <body>
    <h1>猜数游戏</h1>
    <form method="post" action="index">
        <table>    	
        	<tr>
        		<td>帐号</td>
        		<td><input id="userNo" name="userNo" type="text"/></td>
        	</tr>
        	<tr>
        		<td>密码</td>
        		<td><input id="userPwd" name="userPwd" type="text"/></td>
        	</tr>    	     
            <tr>
                <td colspan="2"><input id="" type="submit" value="登录" /></td>
            </tr>
        </table>
    </form>
  </body>
</html>